.App {
    width: 100%;
    height: 100vh;
    display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
    background-color: black
  }
  
  .contenedor-formulario {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "nombre  email"
      "fecha   ."
      "error  error";
    border: 3px solid white;
    justify-items: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color: black;
    border-radius: 10%;
    color: green;
    font-size: 26px;
    filter: drop-shadow(0 0 80px rgb(255, 0, 0));
  }
  
  input {
    width: 300px;
    caret-color: red;
    font-size: 20px;
    text-indent: 4px; /* Ajusta la posición del cursor hacia la derecha en 10px */
    font-family: Arial, sans-serif; /* Tipo de letra */
    font-weight: bold; /* Negrita */

  }
  
  h1{
    font-size: 80px;
    color: white;
    
  }
  /* Ajustar el estilo de los elementos dentro del contenedor-formulario */
  .campo {
    align-items: center;
  }
  
  label[for="inputNombre"] {
    grid-area: nombre;
  }
  
  input#inputNombre {
    grid-area: email;
  }
  
  label[for="inputCorreo"] {
    grid-area: email;
  }
  
  input#inputCorreo {
    grid-area: email;
  }
  
  label[for="inputFecha"] {
    grid-area: fecha;
  }
  
  input#inputFecha {
    grid-area: fecha;
  }
  
  #errorMensaje {
    grid-area: error;
    color: red;
  }
  #autorizado {
    grid-area: error;
    color: green;
  }

  button{
    height: 50px;
    width: 150px;
    border-radius: 30%;
    font-size: 20px;
    border: 3px solid rgb(236, 236, 245) ;
   border-color: rgb(74, 132, 165);  
}
  button:hover{
    background-color: yellow;
    font-size: 26px;
    text-decoration: dotted;
  }
  